.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.parent-box {
  background-color: rgb(67, 202, 33);
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 530px;
  width: 760px;
}

.result-box {
  background-color: hsla(241, 81%, 54%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.summary-box {
  background-color: hsla(241, 72%, 46%, 1);
  text-align: center;
  flex: 1; /* Makes the div circular by rounding the corners */
}

.circle {
  width: 180px;
  height: 180px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7);
}

.large-number {
  font-size: 70px;
  color: rgba(255, 255, 255);
}

.smaller-number {
  font-size: 17px;
}

.circle h1,
.circle h3 {
  margin: 0;
  padding: 0;
}
